    .container {
        border: 3px solid grey;
    }

    .gutter {
        position: relative;
        width: 55px;
        border: 1px solid black;
        float: left;
    }

    .textBox {
        position: relative;
        margin-left: 57px;
        border: 1px solid black;
    }

    h1 {
        text-align: center;
    }

    code {
        font-size: 15px;
    }
